{% extends 'layout.html' %}

{% block body %}

    <h1>Carsharing compare</h1>
    <hr>
    <p>Enter the details of your trip to calculate the cost</p>

    {% from "includes/_formhelpers.html" import render_field %}
    <form method="POST" action="" class="col-sm-6 col-lg-3">
        <div class="container">
            <div class="row">
<div>
                    <label><span style="color:red">* </span>Departure</label>
                    <div class="form-group">

                        <div class="input-group date datetimepicker" id="datetimepicker1" data-target-input="nearest">
                            {{ render_field(form.start, class_="form-control datetimepicker-input datetimepicker", **{"data-target":"#datetimepicker1"}) }}
                            <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</div>

                <div class="container">
            <div class="row">
<div>
                    <label><span style="color:red">* </span>Return</label>
                    <div class="form-group">
                        <div class="input-group date datetimepicker" id="datetimepicker2" data-target-input="nearest">
                            {{ render_field(form.end, class_="form-control datetimepicker-input datetimepicker", **{"data-target":"#datetimepicker2"}) }}
                            <div class="input-group-append" data-target="#datetimepicker2" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</div>

        <div >
            {{ render_field(form.distance, class_="form-control") }}
        </div>

        <div >
            {{ render_field(form.passengers, class_="form-control") }}
        </div>
        <hr>
        <input class="btn btn-primary" type="submit" value="Submit"><br>

    </form>
    <small> * This app is curently only using data from <a href="https://www.modo.coop/" target="_blank">Modo</a> </small>
    <br>
    <hr>
    <ul class="list-group  col-sm-6 col-lg-3">
        {% if rate %}
            <li class="list-group-item">Best rate : Modo {{ rate['rate'].title() }} </li>
            <li class="list-group-item">Raw cost : {{ rate['cost']['raw'] }}$</li>
            <li class="list-group-item">PVRT : {{ rate['cost']['pvrt'] }}$</li>
            <li class="list-group-item">GST : {{ rate['cost']['gst'] }}$</li>
            <li class="list-group-item">PST : {{ rate['cost']['pst'] }}$</li>
            <li class="list-group-item lead">Total cost : {{ rate['cost']['total'] }}$</li>

        {% endif %}
    </ul>


    <script type="text/javascript">
        $(function () {
            $('.datetimepicker').datetimepicker(
                {format: 'YYYY-MM-DD HH:mm'}
            );
        });
    </script>



{% endblock %}
